body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

section {
  padding: 80px 20px;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

p {
  color: #cbd5e1;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

a:hover {
  color: #38bdf8;
}
